body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    background: #fff3f1;
}
#nav{
    color: inherit;
    background-color: white;
    align-content: left;
    height: 68px;
}
#s1{
    background-color: #fff3f1;
    padding-bottom: 0%;
}

#s2{
    background-color: #4b4b4b;
    text-shadow: white;
    margin-bottom: 0%;
    margin-top: 14.5%;
}

#c0{
    padding-bottom: 0%;
    padding-right: 0%;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }

#b1{
    border-radius: 30%;
    font-size: 10px;
    background-color: #f3dcd9;
}

